.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_form {
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

h1 {
  font-size: 26px;
  margin-top: 61px;
}

.input_home {
  margin-bottom: 0;
  font-size: 17px;
  padding-top: 20px;
  transform: translateY(-8px);
}

.input_home::placeholder {
  transform: translateY(12px);
  font-size: 14px;
}

.btn {
  margin-bottom: 24px;
}
.search_form input {
  margin-right: 10px;
  width: 50%;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}
