.navBar {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  padding: 1rem 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.brand span {
  font-weight: bold;
  text-transform: uppercase;
  color: #626060;
}

.linksList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.linksList li {
  display: inline-block;
  margin-right: 1rem;
}

.linksList li:last-child {
  margin-right: 0;
}

.active {
  background-color: #333333;
  border-radius: 5px;
  padding: 6px 10px;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  margin-right: 10px;
}

.mobileMenuButton {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Media queries */
@media (max-width: 768px) {
  .linksList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: #333333;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  .linksList a {
    color: white;
  }

  .linksList li {
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }

  .linksList.active {
    display: flex;
  }

  .mobileMenuButton {
    display: block;
  }
}

@media (max-width: 400px) {
  .navBar {
    position: fixed;
    top: 0;
    width: 97%;
    padding: 0.5em 0.7em;
  }
  svg {
    padding-right: 22px;
  }
  .brand {
    font-size: 1.4em;
    font-weight: bold;
  }
  li {
    text-align: left;
  }

  .brand span {
    font-weight: bold;
  }

  .linksList {
    text-align: center;
  }
  .linksList.active {
    display: flex;
    margin-top: -16px;
  }
  .linksList {
    margin-right: 1em;
  }

  .linksList li a {
    padding: 0.5em 0.8em;
    font-size: 0.8em;
    border-radius: 0.6em;
  }
}
